In [17]:
import pandas as pd
import streamlit as st

In [18]:
vol_df = pd.read_csv('vol_fees.csv')
vol_df

                              day  label        volume           fees  traders
0     2023-05-10 00:00:00.000 UTC  Level  7.512227e+07   76305.224152       60
1     2023-05-15 00:00:00.000 UTC  Level  1.173785e+08  119958.757568       39
2     2023-07-11 00:00:00.000 UTC  Level  8.393723e+07   84188.731975       58
3     2023-03-12 00:00:00.000 UTC  Level  6.609994e+07   66484.688885       69
4     2023-04-27 00:00:00.000 UTC  Level  7.236098e+07   72565.102443       75
...                           ...    ...           ...            ...      ...
2341  2023-06-29 00:00:00.000 UTC    Mux  4.135409e+07   52031.506109      220
2342  2023-04-07 00:00:00.000 UTC    Mux  1.981709e+07   19368.196163      182
2343  2023-04-15 00:00:00.000 UTC    Mux  3.870687e+07   34370.124056      251
2344  2023-03-09 00:00:00.000 UTC    Mux  8.395701e+06    7499.877104      162
2345  2023-07-23 00:00:00.000 UTC    Mux  3.758970e+07   34924.786128      224

[2346 rows x 5 columns]

In [19]:
vol_df['day'] = pd.to_datetime(vol_df['day'])

vol_df = vol_df.sort_values(by=['label', 'day'])

vol_df

                           day    label        volume          fees  traders
1586 2023-04-12 00:00:00+00:00  ApolloX  4.494258e+03      7.752491        6
1584 2023-04-13 00:00:00+00:00  ApolloX  7.042241e+04     63.864370       13
1514 2023-04-14 00:00:00+00:00  ApolloX  2.237137e+05    201.123642       71
1560 2023-04-15 00:00:00+00:00  ApolloX  1.154431e+05    114.446310       68
1521 2023-04-16 00:00:00+00:00  ApolloX  1.543125e+05    141.640249       55
...                        ...      ...           ...           ...      ...
745  2023-07-23 00:00:00+00:00   Vertex  6.328244e+07   8201.132365      229
664  2023-07-24 00:00:00+00:00   Vertex  1.008173e+08  13135.827744      283
686  2023-07-25 00:00:00+00:00   Vertex  5.046720e+07   6877.321562      267
726  2023-07-26 00:00:00+00:00   Vertex  9.947898e+07  13001.897026      296
650  2023-07-27 00:00:00+00:00   Vertex  5.950706e+07   8204.066120      372

[2346 rows x 5 columns]

In [20]:
names = vol_df['label'].unique()
names

array(['ApolloX', 'Cap', 'GMX', 'GNS', 'Kwenta', 'Level', 'Metavault',
       'Mummy', 'Mux', 'Mycelium', 'Perp', 'Pika', 'Polynomial', 'Rage',
       'UniDex', 'Vela', 'Vertex'], dtype=object)

In [16]:
def create_protocol_dicts(df):
    # Create a dictionary for each protocol in the 'label' column
    protocols_data = {}
    for protocol in names:
        protocol_df = df[df['label'] == protocol]
        protocols_data[protocol] = protocol_df
    return protocols_data

prot_dict = create_protocol_dicts(vol_df)

#will return the Apollo protocol dictionary.
prot_dict["ApolloX"].head()

st.write("Volume per protocol: ")

st.write(prot_dict["ApolloX"].head()

SyntaxError: incomplete input (139608264.py, line 19)

In [15]:
ApolloX = prot_dict["ApolloX"]
ApolloX

                           day    label        volume          fees  traders
1586 2023-04-12 00:00:00+00:00  ApolloX  4.494258e+03      7.752491        6
1584 2023-04-13 00:00:00+00:00  ApolloX  7.042241e+04     63.864370       13
1514 2023-04-14 00:00:00+00:00  ApolloX  2.237137e+05    201.123642       71
1560 2023-04-15 00:00:00+00:00  ApolloX  1.154431e+05    114.446310       68
1521 2023-04-16 00:00:00+00:00  ApolloX  1.543125e+05    141.640249       55
...                        ...      ...           ...           ...      ...
1565 2023-07-23 00:00:00+00:00  ApolloX  2.632579e+07  21137.803335      112
1537 2023-07-24 00:00:00+00:00  ApolloX  3.264320e+07  23700.712213      200
1592 2023-07-25 00:00:00+00:00  ApolloX  3.054667e+07  22620.518379      133
1608 2023-07-26 00:00:00+00:00  ApolloX  3.561750e+07  25404.314079      149
1539 2023-07-27 00:00:00+00:00  ApolloX  3.099920e+07  21379.125516      129

[107 rows x 5 columns]